
#main_cord { 
  z-index: 20;
  position: absolute;
  background: url("cord.svg") 0 0 no-repeat scroll;
  -moz-animation: 3s ease 0s normal none infinite swing;
  -moz-transform-origin: center top;
  -webkit-animation: swing 3s infinite ease-in-out;
  -webkit-transform-origin: top;
}  
@-moz-keyframes swing {
  0% {
    -moz-transform: rotate(-0.75deg);
  }
  50% {
    -moz-transform: rotate(0.75deg);
  }
  100% {
    -moz-transform: rotate(-0.75deg);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(-0.75deg);
  }
  50% {
    -webkit-transform: rotate(0.75deg);
  }
  100% {
    -webkit-transform: rotate(-0.75deg);
  }
}

#cord.yanked {
	-webkit-animation: pull 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	-webkit-transform-origin: top;
	-webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%); 

	}

@-webkit-keyframes pull {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
 }

#cord_shadow {
  z-index: 10;
  position: absolute;
  left: 20px;
  opacity: 0.04;
  background: url("cord-shadow.svg") 0 0 no-repeat scroll;
  -moz-animation: 3s ease 0s normal none infinite shadowSwing;
  -moz-transform-origin: center top;
  -webkit-animation: shadowSwing 3s infinite ease-in-out;
  -webkit-transform-origin: top;
}

@-moz-keyframes shadowSwing {
  0% {
    -moz-transform: rotate(-1deg);
  }
  50% {
    -moz-transform: rotate(1deg);
  }
  100% {
    -moz-transform: rotate(-1deg);
  }
}
@-webkit-keyframes shadowSwing {
  0% {
    -webkit-transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
  }
}


