<!DOCTYPE html>
<html>
<head>
  <title>Yanky Panky! The Dropbox MP3 Player</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Mono|Open+Sans:700' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag 'application', media: 'all' %> 
  	<%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
	<%= javascript_include_tag 'application', params[:controller] %>
</body>
</html>
